main{
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 25px auto 0 auto;
    max-width: 800px;
    padding: 15px 10px;
    width: 100%;
}

h1{
    margin: 0;
}

.list-wrapper{
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    box-sizing: border-box;
    margin: 0 25px;
    width: calc(100% - 50px);
}

.list-item{
    border-radius: 2px;
    display: flex;
    min-height: 70px;
    width: 100%;
}

.list-item:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.list-icon{
    background-image: url(/static/img/default_icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    height: 70px;
    width: 70px;
}

.list-icon.name{
    background-image: url(/static/img/face_icon.svg);
}

.list-icon.education{
    background-image: url(/static/img/education_icon.svg);
}
.list-icon.email{
    background-image: url(/static/img/email_icon.svg);
}
.list-icon.money{
    background-image: url(/static/img/euro_icon.svg);
}
.list-icon.event{
    background-image: url(/static/img/event_icon.svg);
}
.list-icon.house{
    background-image: url(/static/img/house_icon.svg);
}

.list-text{
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 10px;
    width: calc(100% - 80px);
}

p.attention{
    background: #ef5350;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    padding: 5px 10px;
}

p.attention.good{
    background: #66bb6a;
}

p.attention.info{
    background: #03a9f4;
}

.button,
button{
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    color: #424242;
    cursor: pointer;
    display: block;
    font-weight: 600;
    height: 35px;
    letter-spacing: .8px;
    line-height: 35px;
    margin-top: 10px;
    outline: none;
    padding: 0 1.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-out;
}
