{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="list-wrapper">
    <div class="list-item">
        <div class="list-icon name"></div>
        <div class="list-text">
            <b>Volledige naam</b><br/>
            Het bedrijf is in het bezit van de volledige naam van alle gebruikers.
        </div>
    </div>
    <div class="list-item">
        <div class="list-icon event"></div>
        <div class="list-text">
            <b>Geboortedatum</b><br/>
            Het bedrijf weet hoe oud haar gebruikers zijn, en wanneer ze jarig zijn.
        </div>
    </div>
    <div class="list-item">
        <div class="list-icon email"></div>
        <div class="list-text">
            <b>E-mailadres</b><br/>
            Het bedrijf bezit een database met e-mailadressen van haar gebruikers.
        </div>
    </div>
    <div class="list-item">
        <div class="list-icon house"></div>
        <div class="list-text">
            <b>Adresgegevens</b><br/>
            De adresgegevens van alle gebruikers op het platform zijn bekend bij het bedrijf.
        </div>
    </div>
    <div class="list-item">
        <div class="list-icon education"></div>
        <div class="list-text">
            <b>Opleiding</b><br/>
            Het bedrijf is in bezit van de opleidingsgegevens van alle gebruikers. Hierbij is het in ieder geval bekend wanneer en waar de opleidingen zijn gevolgd.
        </div>
    </div>
    <div class="list-item">
        <div class="list-icon money"></div>
        <div class="list-text">
            <b>Inkomen</b><br/>
            Het bedrijf weet van alle gebruikers in welke schaal zij vallen inkomensgewijs.
        </div>
    </div>
</div>

<h2>Vragen</h2>
<p>
    Hierboven heb je een lijst gezien van gegevens die een bedrijf over jou, als gebruiker, heeft verzameld. Op basis van deze gegevens willen we je vragen om in te vullen in hoeverre je dit bedrijf zou vertrouwen.
</p>
{% if average %}
<p class="attention{% if version == 2 %} good{% endif %}">
    De gemiddelde score die voorgaande deelnemers aangegeven hebben is een <b>{{ average }}</b>
</p>
{% endif %}

{% include 'scoreform.html' %}
{% endblock content %}
